{% load static %}
<!DOCTYPE html>
<html dir="rtl">
    <head>
        <title>سامانه فروش بلیط کنسرت</title>

            <link rel="stylesheet" type="text/css" href="{% static 'tickets/css/bootstrap.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'tickets/css/fontawesome.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'tickets/css/style.css' %}">
    </head>
    
    <body>
        
        <div class="container">
        
            <div class="row box">
                
                <h1>{% block titlepage %} {% endblock %}</h1>
                
                <ul class="btnul">

                    {% if user.is_authenticated %}
                        <li><a class="btn btn-success" href="/accounts/profile">پروفایل</a></li>
                        <li><a class="btn btn-danger" href="/accounts/logout">خروج</a></li>

                    {% else %}
                    
                        <li><a class="btn btn-success" href="/accounts/login">ورود</a></li>
                        <li><a class="btn btn-danger" href="/accounts/profileRegister">ثبت نام</a></li>
                    
                    {% endif %}
                    
                        <li><a class="btn btn-primary" href="/tickets/time/list">مشاهده سانس های کنسرت</a></li>
                        <li><a class="btn default" href="/tickets/concert/list">صفحه اصلی</a></li>
                        <li><a class="btn btn-danger" href="/tickets/location/list">اطلاعات محل</a></li>
                        
                </ul>
            </div>
            
            <div class="row">

                {% block maincontent %}{% endblock %} 
            
            </div>
        </div>
    </body>
    <script src="{% static 'tickets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'tickets/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'tickets/js/fontawesome.js' %}"></script>
    <script src="{% static 'tickets/js/main.js' %}"></script>
</html>
