{% extends "tickets/base.html" %}

{% block titlepage %}
    لیست کنسرت ها
{% endblock %}

{% block maincontent %}

    {% if concertlist %}
        
        <form action="" method="GET">
            {{ searchform }}
            <button type="submit" class="btn btn-success">جستجو</button>
        </form>
        
        {% for concert in concertlist %}
            
            <div class="col-md-2">

                <a href='/tickets/concert/{{ concert.id }}'>

                    <div class="imagebox">

                        <img src="{{ concert.poster.url }}">

                        {{ concert }}

                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
