{% load static %}
<!DOCTYPE html>
<html>
    <heaad>
        <title>Application Concert Ticket Selling</title>
        <link rel="stylesheet" type="text/css" href="{% static 'tickets/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'tickets/css/fonteawesome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'tickets/css/bootstrap.css' %}">
    </head>
    <body>
         <h1>Concert Lists:</h1>
        <ul>
            {% if concertlist %}
            <p>Number Of Concerts Available: {{ concertcount }}</p>
                {% for concert in concertlist %}
                    <li>
                        {{ concert }}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </body>
</html>
