{% extends "tickets/base.html" %}

{% block titlepage %}
    لیست محل برگزاری کنسرت
{% endblock %}

{% block maincontent %}
    <div class="row locationHeader">
        <div class="col-md-3">
            <h3>محل برگزاری</h3>
        </div>
        <div class="col-md-9">
            <h3>شهر / آدرس</h3>
        </div>
    </div>        

    {% if locationlist %}
        {% for location in locationlist %}
            <div class="row location">
                <div class="col-md-3">
                    {{ location.name }}
                </div>
                <div class="col-md-9">
                    {{ location.address }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
