asgiref==3.7.2
Django==4.2.7
django-jalali-date==1.0.2
djangorestframework==3.14.0
jdatetime==4.1.1
Pillow==10.1.0
psycopg2-binary==2.9.9
pytz==2023.3.post1
setuptools==69.0.1
sqlparse==0.4.4
tzdata==2023.3
wheel==0.41.3
